---
import { SKY, SKY_ORBITS } from "@niama/ui/sky";
import { cn } from "@niama/ui-astro/lib/utils";

// PROPS -----------------------------------------------------------------------------------------------------------------------------------
const { class: className } = Astro.props;

// TYPES -----------------------------------------------------------------------------------------------------------------------------------
type Props = { class?: string };
---

<the-sky>
  <div aria-hidden="true" class={cn(SKY.base(), className)}>
    <div class={SKY.orbits()}>
      {SKY_ORBITS.map((orbit) => (
        <div class={SKY.orbit()}>
          <span class={SKY.planet()} data-orbit={orbit} />
        </div>
      ))}
    </div>
    <section class={SKY.stars()}><canvas class={SKY.canvas()} /></section>
  </div>
</the-sky>

<script>
  import { initializeSky } from "@niama/ui/sky";

  const Sky = class extends HTMLElement {
    destroy!: () => void;

    connectedCallback() {
      const container = this.querySelector("section");
      if (!container) throw new Error("Sky root element not found");
      this.destroy = initializeSky(container);
    }

    disconnectedCallback() {
      this.destroy();
    }
  };
  if (!customElements.get("the-sky")) customElements.define("the-sky", Sky);
</script>
