---
import type { ReadPublicLayoutProps } from "@niama/domain/functions/layouts";
import { Button } from "@niama/ui/astro/button/index.ts";
import { THE_FOOTER } from "@niama/ui/styles/the-footer";
import IconButton from "@/components/icon-button.astro";

// PROPS -----------------------------------------------------------------------------------------------------------------------------------
const { socials } = Astro.props

// TYPES -----------------------------------------------------------------------------------------------------------------------------------
type Props = Pick<ReadPublicLayoutProps, "socials">;
---

<footer class={THE_FOOTER.base()}>
  <Button class={THE_FOOTER.disclaimer()} href="/" variant="outline">
    Mentions Légales
  </Button>
  <div class={THE_FOOTER.socials()}>
    {socials.map(({ href, icon, key, label }) => (
      <IconButton
        class={THE_FOOTER.social()}
        icon={icon}
        label={label}
        size="icon"
        variant="outline"
      />
    ))}
  </div>
</footer>
	
