---
import { ICON_BUTTON } from "@niama/ui/icon-button";
import { cn } from "@niama/ui-astro/lib/utils";
import { Button, type ButtonProps } from "@niama/ui-svelte/button";

const { icon, label, loading = false, class: className, disabled, size = "icon", variant = "outline", ...rest } = Astro.props;
const isDisabled = disabled || loading;

type Props = { class?: string; icon: string; label: string; loading?: boolean } & ButtonProps;
---

<Button
  aria-label={label}
  class={cn(ICON_BUTTON.base(), className)}
  data-loading={loading}
  disabled={isDisabled}
  size={size}
  variant={variant}
  {...rest}
>
  <span class={cn(ICON_BUTTON.icon(), icon)} />
</Button>
