---
export const prerender = true;

import { readIndexPage } from "@niama/domain/functions/pages";
import { INDEX_PAGE } from "@niama/ui/index-page";
import { AttendantsCarousel } from "@niama/ui-astro/attendants/carousel";
import { DisciplinesCarousel } from "@niama/ui-astro/disciplines/carousel";
import { Section } from "@niama/ui-react/ui/section";
import { Separator } from "@niama/ui-react/ui/separator";
import PublicLayout from "./_public.astro";
import { ContactForm } from "./index/_contact-form";

const { attendants, contact, disciplines, hero } = readIndexPage();
---

<PublicLayout skipTo="#les-voies">
  <div class={INDEX_PAGE.base()}>
    <Section className={INDEX_PAGE.hero()} id="top-3">
      <div class={INDEX_PAGE.heroContent()}>
        <h1 class={INDEX_PAGE.heroTitle()}>{hero.title}</h1>
        <p class={INDEX_PAGE.heroDescription()}>{hero.description}</p>
      </div>
    </Section>
    <Section id="les-voies" tabIndex={-1} {...disciplines} withSeparator> <DisciplinesCarousel {...disciplines} /> </Section>
    <Section id="les-accompagnants" {...attendants} withSeparator> <AttendantsCarousel {...attendants} /> </Section>
    <Section id="contact" {...contact} withSeparator>
      <ContactForm client:visible />
      <Separator className="self-center! mb-34 h-24" orientation="vertical" />
    </Section>
  </div>
</PublicLayout>

<script>
  import { nativeHashUpdater, updateHash } from "@niama/ui/index-page";

  updateHash(nativeHashUpdater);
</script>
